.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 10px;
  font-family: sans-serif;
}

.button {
  width: 150px;
}

.chart-container {
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.text-label {
  font-size: 10px;
  font-family: sans-serif;
}

.dot1 {
  stroke: black;
  fill: #c9e5c5;
}

.dot2 {
  stroke: black;
  fill: #74d365
}

.dot3 {
  stroke: black;
  fill: #249313
}

.dot4 {
  stroke: black;
  fill: #0d4f03
}

.line1 {
  stroke: #c9e5c5;
  fill: none;
  stroke-width: 1.5;
  opacity: 0;
}

.line2 {
  stroke: #74d365;
  fill: none;
  stroke-width: 1.5;
  opacity: 0;
}

.line3 {
  stroke: #249313;
  fill: none;
  stroke-width: 1.5;
  opacity: 0;
}

.line4 {
  stroke: #0d4f03;
  fill: none;
  stroke-width: 1.5;
  opacity: 0;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.axis-label {
  font-weight: bold;
}

.chart-legend1 {
  fill: #c9e5c5;
  stroke-width: 0.25;
  stroke: lightgray;
  font-weight: bold;
}

.chart-legend2 {
  fill: #74d365;
  stroke-width: 0.25;
  stroke: lightgray;
  font-weight: bold;
}

.chart-legend3 {
  fill: #249313;
  stroke-width: 0.25;
  stroke: lightgray;
  font-weight: bold;
}

.chart-legend4 {
  fill: #0d4f03;
  stroke-width: 0.25;
  stroke: lightgray;
  font-weight: bold;
}

.tooltip {
  position: absolute;
  text-align: left;
  width: 60px;
  height: 28px;
  padding: 2px;
  font-size: 10px;
  font-weight: bold;
  background: rgba(0,0,0,0.1);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}